.header {
    background: #273b6c;
    color: white;
    padding: 12px 140px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}  
.logoSection {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo {
  width: 28px;
  height: 28px;
  background: #3b82f6;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.brand {
  font-weight: 600;
}

.headerRight {
  display: flex;
  align-items: center;
  gap: 20px;
}

.profile {
  width: 32px;
  height: 32px;
  background: #3b82f6;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
